{:paths ["dev" "src" "notebooks"]
 :deps {tick/tick {:mvn/version "1.0"}
        io.github.nextjournal/clerk {:mvn/version "0.17.1102"}
        nrepl/nrepl {:mvn/version "0.9.0"}
        cider/cider-nrepl {:mvn/version "0.57.0"}
        refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}
        com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.4.0"}}
 :aliases
 {:serve {:exec-fn user/serve!
          :jvm-opts ["-Djdk.attach.allowAttachSelf"    ;; used by profiler
                     "-XX:+EnableDynamicAgentLoading"]}}} ;; used by profiler

